/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*Colori*/

.color-div{
    background-color: white;
}

.color-main{
    background-color: grey;
    border-top: #f6f8f9 solid 3px;
}

.color-editorial-button{
    background-color: #47adf1;
    color: white;
}

.color-q1{
    background-color: #9c72e4;
    color: white;
}

.color-website{
    background-color: #d863a1;
    color: white;
}

.color-mobile{
    background-color: #f29e33;
    color: white;
}

.color-recr{
    background-color: #64c0a9;
    color: white;
}

.color-sales{
    background-color: #b0c926;
    color: white;
}

/* Header */

header{
    background-color: white;
    vertical-align: middle;
    margin-bottom: 20px;
    padding-left: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    width: 70%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    background-color: white;
    font-size: 24px;
    padding-bottom: 20px;
    margin-top: 60px;
}

body{
    background-color: #f6f8f9;
}

nav{
    border-bottom: #f6f8f9 solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

section{
    margin-left: 40px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

li{
    margin-bottom: 15px;
    font-size: 17px;
}

span{
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    font-size: 10px;
}

#button1{
    border-radius: 5px;
    font-size: 12px;
    margin-left: 40px;
}

#button2{
    background-color: white;
    color: grey;
    border: grey solid 1px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

h2{
    font-size: 20px;
    font-weight: 500000000; /*scusate*/
    margin-bottom: 10px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

.checkmark{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    color:  green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 0;
    font-size: 10px;
}

.cross{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    color:  red;
    border: red solid 1px;
    border-radius: 50%;
    padding: 0;
    font-size: 10px;
}

#logo{
    vertical-align: middle;

}